.label_notes {
  width: 33px;
  height: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #252629;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.input_notes {
  width: 336px;
  height: 124px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
