.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  gap: 10px;
  width: 368px;
  height: 56px;
  color: white;
  background: #252629;
  flex: none;
  order: 0;
  flex-grow: 0;
}
